.Item {
  align-items: center;
  background-color: var(--gray);
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: space-between;
  padding: 0 20px;
  margin: 20px 0;
  width: 100%;
}

.Item h6 {
  margin: 0;
}

.Item:hover {
  background-color: var(--white);
  cursor: pointer;
}
