.Modal {
  background-color: var(--gray-dark);
  box-sizing: border-box;
  height: 100%;
  left: 50%;
  padding: 16px;
  position: fixed;
  top: 0;
  transform-origin: right top;
  transition: all 0.3s ease-out;
  width: 50%;
  z-index: 500;
}

.Close {
  height: 40px;
  position: absolute;
  right: calc(100% - 90px);
  top: 30px;
}

.Close:hover {
  cursor: pointer;
}

.Close:hover path {
  fill: var(--white);
}

@media (min-width: 1000px) {
  .Modal {
    width: 50%;
  }
}
