.Heading {
  height: 600px;
}

.Jumbotron {
  background-image: url('../../assets/city.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 100%;
}

.TextBox:after {
  transform: scale(1.2);
  filter: blur(3px);
}

.TextBox {
  width: 500px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.6);
  margin: auto;
  box-shadow: 0 0 15px var(--white);
}
