.View {
  background-color: var(--gray-dark);
  position: fixed;
  width: 50%;
  height: 100%;
  padding: 16px;
  left: 50%;
  top: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  transform-origin: right top;
  z-index: 500;
}

.Close {
  height: 40px;
  right: calc(100% - 90px);
  position: absolute;
  top: 30px;
}

.Close:hover {
  cursor: pointer;
}

.Close:hover path {
  fill: var(--white);
}

@media (min-width: 1000px) {
  .View {
    width: 50%;
  }
}
